
h1 {
    text-align:center;
    text-decoration: underline;
}
h2 {
    background-color: darkorange;
    text-align: right;
    text-decoration: underline;
}
#favouriteANIMAL {
    color: chartreuse;
    text-align:center;
    text-decoration: overline;
}
.images{
  width:200px;
  height:200px;
  object-fit:cover;
  border-radius:10px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.images:hover{
  transform:scale(1.05);
  box-shadow:0 6px 15px rgba(0,0,0,0.3);
}